<ion-tabs class="tabs-stable tabs-icon-top tabs-striped">
  <ion-tab title="首页" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline" href="#/home/index">
      <ion-nav-view name="index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="减脂" icon-on="ion-ios-speedometer-outline" icon-off="ion-ios-speedometer-outline" href="#/home/class">
      <ion-nav-view name="class"></ion-nav-view>
  </ion-tab>

  <ion-tab title="饮食" icon-on="ion-pizza" icon-off="ion-pizza" href="#/home/share">
    <ion-nav-view name="share"></ion-nav-view>
  </ion-tab>

  <ion-tab title="增肌" icon-on="ion-arrow-graph-up-right" icon-off="ion-arrow-graph-up-right" href="#/home/mallcar">
    <ion-nav-view name="mallCar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="推荐" icon-on="ion-android-more-horizontal" icon-off="ion-android-more-horizontal" href="#/home/mine">
    <ion-nav-view name="mine"></ion-nav-view>
  </ion-tab>
</ion-tabs>

