<style>
  .ion-ios-bell-outline{
    font-size:30px;
  }
  .item-note h3{
    text-align:right;
    font-weight:bold;
  }
  .servicePhone{
    line-height:32px;
  }
  .infomation{
    width:100%;
    height:230px;
    background:#ccc;
    text-align:center;
  }
  .order{
    border:1px solid #fff;
    color:#fff;
    background:transparent;
  }
</style>
 <ion-view>
      <ion-header-bar align-title="center" class="bar-dark">
        <h1 class="title">个人中心</h1>
        <div class="buttons">
          <span class="ion-ios-bell-outline"></span>
        </div>
      </ion-header-bar>
    <ion-content>
      <div class="infomation">
        <div>
          <img src=" " alt="">
          <span>{{mineUserName}}</span>
          <p>关注:<span>0</span>|粉丝:<span>0</span>|发布:<span>0</span></p>
        </div>
        <p>
          <button class="button icon-left ion-ios-list-outline order">我的订单</button>
          <button class="button icon-left button-clear button-outline ion-bag button-assertive">推荐有礼</button>
        </p>
      </div>


      <div class="list">
        <div class="item item-divider">
        福丽
        </div>
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-social-yen-outline"></i>
          积分
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-person-outline"></i>
          福丽券
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <div class="item item-divider">
          账户信息
        </div>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-heart-outline"></i>
          收藏
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-person-outline"></i>
          个人信息设置
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-location-outline"></i>
          地址管理
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-email-outline"></i>
          客服消息
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-telephone-outline"></i>
          <i class="servicePhone">客服电话</i>
          <span class="item-note">
            <h3>021-52856131</h3>
            <h6>周一～周五 10:00～21:00</h6>
          </span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <div class="item item-divider">
          更多
        </div>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-upload-outline"></i>
          分享福丽社
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-compose-outline"></i>
          给我们打分
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-chatboxes-outline"></i>
          帮助与反馈
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <span class="item item-icon-left item-icon-right" ng-click="exit()">
          <i class="icon ion-android-exit"></i>
          退出
          <i class="icon ion-ios-arrow-forward"></i>
        </span>
      </div>

      <ion-infinite-scroll ng-if="moreDataCanBeLoaded()">

      </ion-infinite-scroll>

    </ion-content>



<!--      <ion-content>
        &lt;!&ndash; 页面的内容 &ndash;&gt;womwomefehi
        <a href="#/register">跳转到音乐页面！!</a>
      </ion-content>-->
 </ion-view>




